/* Kiểu dáng bảng */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: middle !important;
    text-align: center !important;
}

.product-table th {
    background-color: #f2f2f2 !important;
}

.input-group-text, .form-control{
    width: 100% !important;
}